.simple-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.simple-table th,
.simple-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.simple-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.simple-table tr:nth-child(even) {
  /* background-color: #fafafa; */
}

.simple-table tr:hover {
  /* background-color: #f1f1f1; */
}

td {
  img {
    width: 40px;
    height: 40px;
  }
}

/* Global page background so the whole site appears gray */
html, body {
  height: 100%;
  margin: 0;
  background-color: #e6e6e6; /* light gray */
}





.input-dropdown-container {
  display: flex;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.input-dropdown-container input,
.input-dropdown-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-dropdown-container input {
  flex: 1; /* takes remaining space */
}

.input-dropdown-container select {
  flex: 0 0 120px; /* fixed width */
  cursor: pointer;
  background-color: #fff;
}

.input-dropdown-container input:focus,
.input-dropdown-container select:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 3px #007BFF;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;

  span {
    color: black;
  }

  &&:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}