/* Global page background so the whole site appears gray */
:global(html), :global(body) {
    height: 100%;
    margin: 0;
    background-color: #e6e6e6; /* light gray */
}

.fullPageSize {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.dropdownContainer {
  display: flex;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.dropdownContainer input,
.dropdownContainer select,
.sortSelect select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdownContainer input:focus,
.dropdownContainer select:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 3px #007BFF;
}

.dropdownContainer input {
  flex: 1; /* takes remaining space */
}

.dropdownContainer select {
  flex: 0 0 120px; /* fixed width */
  cursor: pointer;
  background-color: #fff;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;

  span {
    color: black;
  }

  &&:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.guildTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.guildTable th,
.guildTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.guildTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* class icons inside table */
.guildTable td {
  img {
    width: 40px;
    height: 40px;
  }
}

/* pushes an elem all the way to right in a flexbox or grid */
.sortSelect {
  margin: 0px 20px 5px auto;
  cursor: pointer;
  text-align: right;
}